.title {
  font-size: 30px;
  transition: transform 500ms linear, color 500ms linear;
}

.subtitle {
  font-size: 16px;
  text-align: center;
  transition: transform 500ms linear, color 500ms linear;
}
